<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>

	<key>BBLMLanguageDisplayName</key>
	<string>SystemVerilog</string>
	<key>BBLMLanguageCode</key>
	<string>SV</string>

	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMIsSourceKind</key>
			<true/>
			<key>BBLMLanguageSuffix</key>
			<string>.sv</string>
		</dict>
	</array>
	<key>BBLMPreferredFilenameExtension</key>
    <string>sv</string>

	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>

	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<false/>

	<key>BBLMRunColors</key>
	<dict>
		<key>com.sv.bblm.type</key>
		<string>rgb(155, 38, 147)</string>
		<key>com.sv.bblm.directive</key>
		<string>rgb(99, 56, 32)</string>
		<key>com.sv.bblm.task</key>
		<string>rgb(129,95,3)</string>
		<key>com.sv.bblm.keyword</key>
		<string>rgb(15,104,160)</string>
		<key>com.sv.bblm.num</key>
		<string>rgb(28,0,207)</string>
		<key>com.sv.bblm.port</key>
		<string>rgb(57,0,160)</string>
		<key>com.sv.bblm.edge</key>
		<string>rgb(57,0,160)</string>
		<key>com.sv.bblm.const</key>
		<string>rgb(50,109,116)</string>
	</dict>
	<key>BBLMRunNames</key>
	<dict>
		<key>com.sv.bblm.type</key>
		<string>Types</string>
		<key>com.sv.bblm.directive</key>
		<string>Directives</string>
		<key>com.sv.bblm.task</key>
		<string>Tasks</string>
		<key>com.sv.bblm.keyword</key>
		<string>Keywords</string>
		<key>com.sv.bblm.num</key>
		<string>Number Literals</string>
		<key>com.sv.bblm.port</key>
		<string>Ports</string>
		<key>com.sv.bblm.edge</key>
		<string>Edges</string>
		<key>com.sv.bblm.const</key>
		<string>Constants</string>
	</dict>
	<key>BBLMRunNameUIOrdering</key>
	<array>
		<string>com.sv.bblm.directive</string>
		<string>com.sv.bblm.type</string>
		<string>com.sv.bblm.task</string>
		<string>com.sv.bblm.keyword</string>
		<string>com.sv.bblm.num</string>
		<string>com.sv.bblm.port</string>
		<string>com.sv.bblm.edge</string>
		<string>com.sv.bblm.const</string>
	</array>

	<key>BBLMKeywordPatterns</key>
	<array>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.directive</string>
			<key>Pattern</key>
			<string>'[a-zA-Z]+</string>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.num</string>
			<key>Pattern</key>
			<string>([0-9]+'[sS]?[bBhHoOdD][0-9a-fA-FxXzZ_\\?]+)|([0-9_]+)|('[0-9xzXZ]+)</string>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.const</string>
			<key>Pattern</key>
			<string>[A-Z_][A-Z0-9_]*</string>
		</dict>
	</array>

	<key>BBLMKeywords</key>
	<array>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.type</string>
			<key>Keywords</key>
			<array>
				<string>bit</string>
				<string>byte</string>
				<string>shortint</string>
				<string>int</string>
				<string>longint</string>
				<string>reg</string>
				<string>integer</string>
				<string>logic</string>
				<string>time</string>
				<string>realtime</string>
				<string>shortreal</string>
				<string>real</string>
				<string>wire</string>
				<string>tri</string>
				<string>wor</string>
				<string>trior</string>
				<string>wand</string>
				<string>triand</string>
				<string>tri0</string>
				<string>tri1</string>
				<string>supply0</string>
				<string>supply1</string>
				<string>weak0</string>
				<string>weak1</string>
				<string>strong0</string>
				<string>strong1</string>
				<string>pull0</string>
				<string>pull1</string>
				<string>large</string>
				<string>small</string>
				<string>highz0</string>
				<string>highz1</string>
				<string>medium</string>
				<string>trireg</string>
				<string>uwire</string>
				<string>void</string>
				<string>string</string>
				<string>parameter</string>
				<string>localparam</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.task</string>
			<key>Keywords</key>
			<array>
				<string>$bits</string>
				<string>$bitstoreal</string>
				<string>$clog2</string>
				<string>$dumpfile</string>
				<string>$dumpvars</string>
				<string>$dumplimit</string>
				<string>$dumpoff</string>
				<string>$dumpon</string>
				<string>$dumpall</string>
				<string>$reset</string>
				<string>$finish</string>
				<string>$scope</string>
				<string>$showscope</string>
				<string>$fsdbDumpvar</string>
				<string>$itor</string>
				<string>$random</string>
				<string>$urandom</string>
				<string>$realtime</string>
				<string>$realtobits</string>
				<string>$rtoi</string>
				<string>$signed</string>
				<string>$stime</string>
				<string>$stop</string>
				<string>$time</string>
				<string>$unsigned</string>
				<string>$dimensions</string>
				<string>$unpacked_dimensions</string>
				<string>$left</string>
				<string>$right</string>
				<string>$high</string>
				<string>$low</string>
				<string>$size</string>
				<string>$fclose</string>
				<string>$fflush</string>
				<string>$sformat</string>
				<string>$display</string>
				<string>$displayb</string>
				<string>$displayh</string>
				<string>$displayo</string>
				<string>$fdisplay</string>
				<string>$fdisplayb</string>
				<string>$fdisplayh</string>
				<string>$fdisplayo</string>
				<string>$fopen</string>
				<string>$fclose</string>
				<string>$writemem</string>
				<string>$writememb</string>
				<string>$writememh</string>
				<string>$writememo</string>
				<string>$readmemb</string>
				<string>$readmemh</string>
				<string>$fwrite</string>
				<string>$write</string>
				<string>$exit</string>
				<string>$feof</string>
				<string>$fgetc</string>
				<string>$fgets</string>
				<string>$fread</string>
				<string>$fmonitor</string>
				<string>$fmonitorb</string>
				<string>$fmonitorh</string>
				<string>$fmonitoro</string>
				<string>$fscanf</string>
				<string>$fseek</string>
				<string>$fstrobe</string>
				<string>$fstrobeb</string>
				<string>$fstrobeh</string>
				<string>$fstrobeo</string>
				<string>$ftell</string>
				<string>$monitor</string>
				<string>$recordon</string>
				<string>$rewind</string>
				<string>$sformatf</string>
				<string>$sscanf</string>
				<string>$strobe</string>
				<string>$strobeb</string>
				<string>$strobeh</string>
				<string>$strobeo</string>
				<string>$swrite</string>
				<string>$timeformat</string>
				<string>$ungetc</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.keyword</string>
			<key>Keywords</key>
			<array>
				<string>alias</string>
				<string>always</string>
				<string>always_comb</string>
				<string>always_ff</string>
				<string>always_latch</string>
				<string>and</string>
				<string>assert</string>
				<string>assign</string>
				<string>assume</string>
				<string>automatic</string>
				<string>before</string>
				<string>begin</string>
				<string>bind</string>
				<string>bins</string>
				<string>binsof</string>
				<string>break</string>
				<string>buf</string>
				<string>bufif0</string>
				<string>bufif1</string>
				<string>case</string>
				<string>casex</string>
				<string>casez</string>
				<string>cell</string>
				<string>chandle</string>
				<string>class</string>
				<string>clocking</string>
				<string>cmos</string>
				<string>config</string>
				<string>const</string>
				<string>constraint</string>
				<string>context</string>
				<string>continue</string>
				<string>cover</string>
				<string>covergroup</string>
				<string>coverpoint</string>
				<string>cross</string>
				<string>deassign</string>
				<string>default</string>
				<string>defparam</string>
				<string>design</string>
				<string>disable</string>
				<string>dist</string>
				<string>do</string>
				<string>edge</string>
				<string>else</string>
				<string>end</string>
				<string>endcase</string>
				<string>endclass</string>
				<string>endclocking</string>
				<string>endconfig</string>
				<string>endfunction</string>
				<string>endgenerate</string>
				<string>endgroup</string>
				<string>endinterface</string>
				<string>endmodule</string>
				<string>endpackage</string>
				<string>endprimitive</string>
				<string>endprogram</string>
				<string>endproperty</string>
				<string>endspecify</string>
				<string>endsequence</string>
				<string>endtable</string>
				<string>endtask</string>
				<string>enum</string>
				<string>event</string>
				<string>expect</string>
				<string>export</string>
				<string>extends</string>
				<string>extern</string>
				<string>final</string>
				<string>first_match</string>
				<string>for</string>
				<string>force</string>
				<string>foreach</string>
				<string>forever</string>
				<string>fork</string>
				<string>forkjoin</string>
				<string>function</string>
				<string>generate</string>
				<string>genvar</string>
				<string>if</string>
				<string>iff</string>
				<string>ifnone</string>
				<string>ignore_bins</string>
				<string>illegal_bins</string>
				<string>import</string>
				<string>incdir</string>
				<string>include</string>
				<string>initial</string>
				<string>inside</string>
				<string>instance</string>
				<string>interface</string>
				<string>intersect</string>
				<string>join</string>
				<string>join_any</string>
				<string>join_none</string>
				<string>liblist</string>
				<string>library</string>
				<string>local</string>
				<string>macromodule</string>
				<string>matches</string>
				<string>modport</string>
				<string>module</string>
				<string>nand</string>
				<string>new</string>
				<string>nmos</string>
				<string>nor</string>
				<string>noshowcancelled</string>
				<string>not</string>
				<string>notif0</string>
				<string>notif1</string>
				<string>null</string>
				<string>or</string>
				<string>package</string>
				<string>packed</string>
				<string>pmos</string>
				<string>primitive</string>
				<string>priority</string>
				<string>program</string>
				<string>property</string>
				<string>protected</string>
				<string>pulldown</string>
				<string>pullup</string>
				<string>pulsestyle_onevent</string>
				<string>pulsestyle_ondetect</string>
				<string>pure</string>
				<string>rand</string>
				<string>randc</string>
				<string>randcase</string>
				<string>randsequence</string>
				<string>rcmos</string>
				<string>ref</string>
				<string>release</string>
				<string>repeat</string>
				<string>return</string>
				<string>rnmos</string>
				<string>rpmos</string>
				<string>rtran</string>
				<string>rtranif0</string>
				<string>rtranif1</string>
				<string>scalared</string>
				<string>sequence</string>
				<string>showcancelled</string>
				<string>signed</string>
				<string>solve</string>
				<string>specify</string>
				<string>specparam</string>
				<string>static</string>
				<string>struct</string>
				<string>super</string>
				<string>table</string>
				<string>tagged</string>
				<string>task</string>
				<string>this</string>
				<string>throughout</string>
				<string>timeprecision</string>
				<string>timeunit</string>
				<string>tran</string>
				<string>tranif0</string>
				<string>tranif1</string>
				<string>type</string>
				<string>typedef</string>
				<string>union</string>
				<string>unique</string>
				<string>unsigned</string>
				<string>use</string>
				<string>var</string>
				<string>vectored</string>
				<string>virtual</string>
				<string>wait</string>
				<string>wait_order</string>
				<string>while</string>
				<string>wildcard</string>
				<string>with</string>
				<string>within</string>
				<string>xnor</string>
				<string>xor</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.port</string>
			<key>Keywords</key>
			<array>
				<string>input</string>
				<string>output</string>
				<string>inout</string>
			</array>
		</dict>
		<dict>
			<key>RunKind</key>
			<string>com.sv.bblm.edge</string>
			<key>Keywords</key>
			<array>
				<string>posedge</string>
				<string>negedge</string>
			</array>
		</dict>
	</array>

	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>01234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_+-*[]=%^/&amp;&lt;&gt;|'$#!?</string>

		<key>Open Block Comments</key>
		<string>/*</string>
        <key>Close Block Comments</key>
		<string>*/</string>
        <key>Open Line Comments</key>
		<string>//</string>

		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
        <key>End-of-line Ends Strings 1</key>
		<false/>

		<key>Open Strings 2</key>              
		<string>"</string>
		<key>Close Strings 2</key>
		<string>"</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>End-of-line Ends Strings 2</key>
		<false/>

		<key>Prefix for Functions</key>
		<string>function</string>

		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>

		<key>Open Statement Blocks</key>    
		<string>begin</string>
        <key>Close Statement Blocks</key>   
		<string>end</string> 
	</dict>
</dict>
</plist>
